body{
    background:rgb(63, 63, 63);
    font-family: "Lato", "Open Sans", sans-serif;
    color: #222;}

/*#####################################################################################*/
/*fonte*/
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/*#####################################################################################*/
/*Topo*/
#logo{
    width: 250px;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#navbar{
    width: 800px;
    display:flex;
    background: lightblue;
    border-radius: 10px;
    padding:10px 0px 10px 0px;
    margin-right:150px;
    justify-content:space-evenly;
}

a{
    text-decoration: none;
    color:black
}

a:hover{
    text-decoration: underline;
    color:orange;
}
/*#####################################################################################*/

/*#####################################################################################*/
/*Conteúdo*/
#conteúdo{
    background: lightblue;
    margin: auto;
    border-radius: 10px;
    width: 1300px;
    padding: 10px;
    font-size: 20px;
    text-align: justify;
}
.paragrafo{
    margin-bottom:35px;
    text-indent:20px;
    width: 1150px;
    margin-left: 20px;
    font-size: 18px;

}
#paragrafo1{
    margin-bottom:35px;
    text-indent:20px;
    width: 1215px;
    margin-left: 20px;
    font-size: 18px;
}


.title{
    padding-left:20px;
}
#list{
    list-style: none;
    margin-left: 30px;
}
/*#####################################################################################*/