/* Logo */
.logo-area {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.logo-text {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: white;
    color: #1f2937;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3a8a;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
}

.nav-links a:hover {
    background-color: #3b82f6;
}

/* Lista de Módulos */
.modulo-lista {
    list-style-type: none;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    width: 90%;
}

.modulo-lista li {
    background: rgb(236, 236, 236);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.modulo-lista li a {
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
}

.modulo-lista li a:hover {
    text-decoration: underline;
    color: #3b82f6;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #1e3a8a;
    color: white;
    margin-top: 25%;
}

/* área dos módulos*/
.content {
    text-align: center;
}

.contentlinks {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    list-style: none;
    padding: 0.5rem;
    background: rgb(236, 236, 236);
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentlinks a {
    text-align: left;
    text-decoration: none;
    padding-left: 1.5rem;
    text-shadow: 0.5px 1px 1px #1e3a8a;
}

.contentlinks a:hover {
    text-decoration: underline;
    color: #3b82f6;
}

/* Conteúdo da página (Card) */
.artigo {
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
    background: #f0f8ff;
    border-radius: 20px;
    box-shadow: 5px 5px 1px #b0c4de;
    margin-top: 20px;
    
}

/* Conteúdo interno do card */
.artigo-conteudo {
    padding: 20px;
    text-align: justify;
}

.artigo-conteudo p {
    text-indent: 0;
    margin: 15px 0;
}

.titles {
    margin-bottom: 15px;
    text-indent: 0; 
    margin-top: 0;
    text-align: center;
}

.subtitles {
    font-size: 19px;
    margin-top: 10px;
    text-indent: 0;
    margin-bottom: 10px;
}

/* Ajuste do símbolo de tópico nas listas */
ul {
    padding-left: 40px;
}

ul li {
    list-style-position: inside;
}